<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>tvtrackerjs</display-name>
	<servlet>
		<servlet-name>GetUsers</servlet-name>
		<servlet-class>datingsite.GetUsers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetMessage</servlet-name>
		<servlet-class>datingsite.GetMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendMessage</servlet-name>
		<servlet-class>datingsite.SendMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetChat</servlet-name>
		<servlet-class>datingsite.GetChat</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>datingsite.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ValidateSession</servlet-name>
		<servlet-class>datingsite.ValidateSession</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetLike</servlet-name>
		<servlet-class>datingsite.GetLike</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetConnection</servlet-name>
		<servlet-class>datingsite.GetConnection</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetUsers</servlet-name>
		<url-pattern>/GetUsers</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetMessage</servlet-name>
		<url-pattern>/GetMessage</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SendMessage</servlet-name>
		<url-pattern>/SendMessage</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetChat</servlet-name>
		<url-pattern>/GetChat</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ValidateSession</servlet-name>
		<url-pattern>/ValidateSession</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetLike</servlet-name>
		<url-pattern>/GetLike</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetConnection</servlet-name>
		<url-pattern>/GetConnection</url-pattern>
	</servlet-mapping>
	
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
      <listener-class>datingsite.Runtime</listener-class>
    </listener>

</web-app>
